*{
  color: white;
}
/* content
------------------------------------------------------- */
.content-wrap{
  background-color: #123285;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
  font-family: 'Ubuntu', sans-serif;
}
.content{
  padding: 50px;
  width: 500px;
  padding-bottom: 20px;
  padding-top: 20px
}
.local{
  font-size: 50px; 
  font-weight: 600;
  letter-spacing: 5px;
}
.main{
  text-align: center;
}
/* search
------------------------------------------ */
input[type="text"]{
  background-color:#123285;
  border: none;
  border-bottom: 0.5px solid white;
  width: 90%;
  margin-bottom: 20px;
}
/* city
-------------------------------------------- */
.city{
  margin-bottom: 40px;
}
.city p{
  margin: 0;
}
.condition{
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 700;
}
/* temperature
-------------------------------------------- */
.celsius{
  font-size: 130px;
  font-weight: 100;
}
.temp{
  display: flex;
  justify-content:space-between;
  align-items: center; 
}
.temperature{
  font-size: 130px;
  font-weight: 1000;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  margin: 0;
}
h2{
  text-align: left;
}
.weather-icon{
  margin-bottom: 50px;
}
/* footer
------------------------------------------------------ */
table{
  table-layout: fixed ;
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
}
table td {
  border: 10px solid #123285;
}
/* reponsive
------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* content
  ------------------------------------------------------- */
  .content-wrap{
    width: 80%;
    /* height: 100%; */
  }
  .content{
    padding: 10px;
    width: 90%;
    font-size: 50%;
    margin: 10px auto;
  }
  .local{
    font-size: 35px; 
    font-weight: 600;
    letter-spacing: 5px;
  }
  .main{
    text-align: center;
  }
  /* search
  ------------------------------------------ */
  input[type="text"]{
    background-color:#123285;
    border: none;
    border-bottom: 0.5px solid white;
    width: 90%;
    margin-bottom: 20px;
  }
  /* city
  -------------------------------------------- */
  .city p{
    font-size: 10px;
  }
  .condition{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  /* temperature
  -------------------------------------------- */
  .celsius{
    font-size: 70px;
    font-weight: 100;
  }
  .temp{
    display: flex;
    justify-content:space-between;
    align-items: center; 
  }
  .temperature{
    font-size: 70px;
    font-weight: 1000;
    text-align: left;
  }
  h2{
    text-align: left;
  }
  /* footer
  ------------------------------------------------------ */
  table{
    width: 50%;
    font-size: 12px;
  }
  table td {
    border: 5px solid #123285;
  }
}